{% extends 'ict/base.html' %}
{% load static %}
<html>
<head>
<meta charset="utf-8">
<title>About</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<meta name="description" content="" />
<meta name="author" content="http://webthemez.com/" />
<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />

<link href="{% static 'css/fancybox/jquery.fancybox.css' %}" rel="stylesheet" />

<link href="{% static 'css/jcarousel.html' %}" rel="stylesheet" />

<link href="{% static 'css/flexslider.css' %}" rel="stylesheet" />

<link href="{% static 'js/owl-carousel/owl.carousel.html' %}" rel="stylesheet" />

<link href="{% static 'css/style.css' %}" rel="stylesheet" />
</head>
<body>
    <!-- Contents -->
{% block content %}
    <h1 style="text-align:center;text-decoration:underline;">About</h1>
<div style="margin-left:30px;margin-right:30px;margin-bottom:50px;border:5px solid red;background:  #F0F8FF;">
    <p style="margin-left:30px;font-size: 20px;margin-top: 10px;">Welcome to BUP-ICT</p>
    <hr style="margin-left:30px;margin-right:30px;">
    <p style="text-align: justify;margin-left:30px;margin-right:30px;">The Department of Computer Science and Engineering (CSE) at
        University of Dhaka (also known as Dhaka University or DU) is a
        place where brightest of minds from all over the country assemble
        for a greater future. The department, popularly known as CSEDU,
        has been inspiring the best and brightest for more than twenty
        three years in fostering the frontiers of Computer Science and
        Engineering. We consider all members of the community as catalysts
        of evolution and inspire them to break away from traditional learn
        and apply mentality to create new knowledge and instigate others
        to do the same. Our credibility and efficacy of the methods of
        education is reflected by our alumni who have been performing
        with excellence in their respective fields; in the top ranking
        universities as teachers and researchers and in the top companies
        all around the world as software engineers and IT specialists.
        Our students are well equipped to take the challenge to stand out
        as the leaders of tomorrow. We welcome all in our community who are willing to take the challenge. Welcome to progress. Welcome to CSEDU.<br><br>
    </p>

     <p id="history" style="margin-left:30px;font-size: 20px;margin-top: 10px;"><b>History of BUP</b></p>
    <hr style="margin-left:30px;margin-right:30px;">
    <p style="margin-left:30px;margin-right:30px;">
        The journey of the Department of Computer Science and Engineering started in a bright September morning in 1992. It was a brainchild of Dr. M. Lutfar Rahman, a visionary Professor of the Department of Applied Physics and Electronics, University of Dhaka, who felt the urge to come up with an institute to tackle the snowballing necessity for computer specialists. In spite of a humble beginning, the department, then known as Department of Computer Science, attracted the very best minds of the nation and soon accumulated a star studded faculty roster as well as the brightest of the students.<br>

        The department started with a single classroom offering M.Sc degree in Computer Science under the Faculty of Science. In 1994, three year B.Sc Honors program was introduced which was upgraded to four year B.Sc Honors program in 1997. It is the first department in the Faculty of Science to introduce the four year BSc. program in the University of Dhaka. In 2004, the name of the department was changed to Computer Science and Engineering, leading to its inclusion in the freshly formed Faculty of Engineering and Technology in 2008. In 2010, the four point grading system was introduced in the Faculty of Engineering and Technology. <br>

        Initially, the department started with 20 students in the M.Sc program in 1992, and started B.Sc (Hons) program from 1995 with 21 students. With the increasing demand of Computer Science graduates for the nation, University of Dhaka increased the number of seats for B.Sc (Hons) program to 60 in 1995. So far, 17 batches have completed their undergraduate studies and 5 batches are currently pursuing their degrees from the department. In addition, 21 batches have completed the graduate study (MSc/ MS) programs and currently 1 batch is continuing their MS coursework/ research. Although only two researchers completed PhD from this department, currently there are 11 PhD students pursuing towards their degrees in addition to 2 MPhil students.<br><br> 
    </p>

    <p  style="margin-left:30px;font-size: 20px;margin-top: 10px;"><b> Why BUP</b></p>
    <hr style="margin-left:30px;margin-right:30px;">
    <p style="margin-left:30px;margin-right:30px;">
        The Department of Computer Science and Engineering at University of Dhaka provides one of the best learning environments for the students. The department has a total of forty four faculty members with excellent academic and research records. Most of these faculty members are engaged in high quality research and are affiliated with some of the top raking universities in the world through research collaboration. Only the very best of academicians are offered teaching positions and become faculties of this prestigious organization and they are consistently motivated to lead the students towards a better future – both academically and socially.<br>

        The department attracts only the very best of students who sit for the University of Dhaka admission test. Statistics from session 2014-2015 for Ka Unit (A-Unit) show that, in terms of performance, the CSE DU department hosts the top 3.65% students who are admitted in DU Ka unit, and this is 0.076% (60 students out of 78293 examines) of all the examines. These brightest of minds are nurtured through proper supervision by the esteemed faculty members to become future leaders in the field of research as well as the industry.<br>

        The education principles of the department focuses on two major aspects. One of them is research, and the other is industry. The department and the curriculum are highly focused on research. The students are encouraged to move in to the world of research very early and are guided to pursue publications before graduation. The research friendly environment brings the best out of young researches and faculties alike. Publications in national and international conferences and journals are regular and the number of publications is increasing rapidly. With this background, the students of the department pursuing their higher studies in top ranking universities are performing significantly better than their counterparts. Being part of the largest multidisciplinary university in Bangladesh, the department provides ample opportunity for multidisciplinary research to tackle both local and global real world problems.<br>

        The course curriculum are also designed to reflect the necessity of the current software industries. Graduates from the department are highly preferred by farms in the local software industry for employment. Many graduates have also made their place to the top companies like Google, Microsoft, Amazon, etc. Apart from this, many graduates of the university are currently holding important positions as IT specialists in many telecom, financial, and government organizations.<br>

        The department is also focused on enhancing the analytical skills of students through regular participation in Programming Contests. The contest training and related activities start very early side by side with the regular course curriculum. Interested students are guided by some of the most experienced contestants. The culture of programming contests is very rich in the department and it helps to bring everyone together through problem solving. Two world finalists’ teams, in the prestigious ACM Intercollegiate Programming Contest, have been produced by the department and with the renewed effort, the department is sure to produce more and more world class contestants. <br>

        In keeping with the tradition of Bangladesh and University of Dhaka’s unique place in the cultural activities in our country, the department passionately maintains it’s cultural heritage. The department arranges cultural extravaganzas in all major cultural festivals. It gives an opportunity for all to become a part of the department through festivities. These cultural activities are organized throughout the year which maintains a sunny and vibrant environment all the year round.<br>

        The department is located in Dhaka, the capital of Bangladesh. It is positioned near the High Court and the Curzon Hall and at the opposite of the Gymnasium. All major routes direct to this location which is an added benefit for the students, considering the transportation system of Bangladesh. <br>

        The department, from its beginning has always been and is keen on continuing to be one of the top choices for higher education in Computer Science and Engineering in the country. <br> <br> 

    </p>

    <p id="vision" style="margin-left:30px;font-size: 20px;margin-top: 10px;"><b>Vision of BUP</b></p>
    <hr style="margin-left:30px;margin-right:30px;">

    <p style="margin-left:30px;margin-right:30px;">
        The Department of Computer Science and Engineering has been one of the pioneering organizations in the education sector of Bangladesh since its inception in 1992. The department is keen on pushing the boundaries of traditional education system and vigilant to face the challenges that the ever changing field of research brings forth. It is the optimum combination of knowledge generation and application that makes the distinctive feature of the department. <br><br> 

        The department focuses on four major perceptions: <br> <br>

        <strong> Excellence in Education.</strong> From the very beginning, the department is dedicated to provide the best education in the field of Computer Science and Engineering. Armed with a group of experienced faculty and the brightest of students, the department has made exemplary improvement in this field of education. The reflection of this effort can be found amongst the top researchers, programmers, or IT specialists working in top level universities and companies in Bangladesh and all over the world, who graduated from the department. <br> <br>

       <strong> Reputation through Research.</strong> The department focuses heavily on the quality and impact of the researches done in the field of Computer Science and Engineering as well as in multidisciplinary researches conducted in the department. The researches have been focused towards responding to local and global real world crises as well as crossing the frontiers of traditional methods to create new knowledge.<br> <br>

      <strong> Steps towards Society.</strong> The department is always ready to take the responsibility of taking the necessary steps to deploy ICT in social development. The department is keen to fulfill its social responsibility by taking up projects to automate institutional processes at the university and national levels, educate and train people, especially the young people of the country, through workshops on programming, software design, and other ICT training programs. <br> <br>

     <strong> Equality for Everyone.</strong> Everyone in the Department of Computer Science and Engineering is treated and considered as equal. People’s past, gender, financial background, ethnicity, religion are not at all considered in the assessment of their present performance. This place gives everyone the opportunity to make a name for themselves and stand out as a member of the CSEDU family. It creates a new identity for the students, one which will be remembered by their department and respected by all. <br> <br>

    <strong> Concoction of Culture.</strong> The department opens its doors towards diversity. People from all over the country, from different cultural backgrounds come to the department and become a part of the same culture that is practised in the department. It’s a place for mutual respect and admiration for everyone. This combination of variety ensures an accessible and tolerant environment in the department. An average of 24.59% women out of all students have already pursued degrees from the department which is a reflection of advancement for women in technology in Bangladesh.<br><br>






    </p>



</div>

{% endblock %}
</body>
</html>