{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">
<title>Header</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<meta name="description" content="" />
<meta name="author" content="http://webthemez.com/" />
<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />

<link href="{% static 'css/fancybox/jquery.fancybox.css' %}" rel="stylesheet" />

<link href="{% static 'css/jcarousel.html' %}" rel="stylesheet" />

<link href="{% static 'css/flexslider.css' %}" rel="stylesheet" />

<link href="{% static 'js/owl-carousel/owl.carousel.html' %}" rel="stylesheet" />

<link href="{% static 'css/style.css' %}" rel="stylesheet" />
</head>

<body>
<div id="wrapper" class="home-page">
<div class="topbar">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p class="pull-left hidden-xs">Group 10</p>
        <p class="pull-right"><i class="fa fa-phone"></i>Tel No. 01739258183</p>
      </div>
    </div>
  </div>
</div>
	<header>
        <div class="navbar navbar-default navbar-static-top">
            <div class="container">
                <div class="navbar-header">

                    <a class="navbar-brand" href="index.html"><img src="{% static 'img/logo.png' %}" alt="logo"/></a>
                </div>
                <div class="navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="{% url 'home' %}">Home</a></li>
						<li class="dropdown">
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle">About Us <b class="caret"></b></a>
                        <ul class="dropdown-menu">

                            <li><a href="#history">History</a></li>
                            <li><a href="#">Vision</a></li>
                            <li><a href="#">Achievements</a></li>
                            <li><a href="#">Resources</a></li>
                            <li><a href="#">Downloads</a></li>

                        </ul>
                        </li>
                        <li>
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle">Academic <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="about.html">programs</a></li>
                            <li><a href="#">Admission</a></li>
                            <li><a href="#">Curriculum</a></li>
                            <li><a href="#">Academic Calender</a></li>

                        </ul>
                    	</li>
                    	<li>
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle">People <b class="caret"></b></a>
                        <ul class="dropdown-menu">

                            <li><a href="#">Staff</a></li>

                        </ul>

                    	<li class="dropdown">
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle">Research <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="about.html">Research Groups</a></li>
                            <li><a href="#">Publications</a></li>


                        </ul>
                    	</li>
                    	<li class="dropdown">
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle">Announcement <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="about.html">Notice Board</a></li>
                            <li><a href="#">Announcement</a></li>
                            <li><a href="#">Notice and Events</a></li>
                            </ul>
                    	</li>

						<li><a href="courses.html">Alumni</a></li>
                        <li><a href="portfolio.html">Sitemap</a></li>

                    </ul>
                </div>
            </div>
        </div>
	</header>
</div>
</body>
</html>