{% extends 'ict/base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Achievements</title>
</head>
<body>
{% block content %}


{% block downloads %}
<div style="margin-left:100px; margin-top:50px;margin-right: 100px;">
<div class="main" style="
    margin: 0px auto;
    padding: 4%;
    border: 3px solid #104788;
    font-family: Helvetica Neue;
    color: #444;
    background-color: #F0F0F0;
    box-shadow: 0 0 10px 0 #000000;
">
<text class="mainText"><p></p>
<p>The Department of Information and Communication Engineering has been a symbol of progress from the earliest stages of its conception. Only the brightest of individuals from all over the country congregated under a single notion – to achieve greatness and revolutionize the field of Information and Communication Engineering with their ingenuity and talent. The tradition has been passed down to later generations who also followed in the footsteps of their predecessors to achieve excellence through their effort and performance.</p>
<p>More than a thousand individuals have graduated from the department and are pursuing their dynamic careers worldwide. The spectrum of career choices of our alumni stretches from Software Engineering in the most reputable companies worldwide to Faculty positions in the most respected universities and from IT specialists in multi-national companies to researchers in the highest ranking universities. Their excellence and conviction to their career of choice is prevalent in their performance and achievements.</p>
<p>All the alumni are considered to be a member of the Information and Communication Engineering family. They maintain close ties among themselves through regular extravaganzas arranged by the department or the Alumni Association. These spectacles transform in to an assortment of reminiscence and knowledge sharing. The department is proud of each and every one of its alumni for upholding the department’s name in local and international frontiers.</p>

<p>
</p></text></div>

<div style="border: 25px black solid;height: 400px;margin-top: 10px;">
	<span style="margin-left: 20px;">ICT-01</span>
	<img style="margin-left: 70px;margin-top: 100px;" src="/static/img/ict-1.jpg" height="200" width="400">
	
	<img style="margin-left: 50px; margin-top: 100px;" src="/static/img/ict-1.jpg" height="200" width="400">
	<span style="margin-left: 20px;">ICT-02</span>
</div>
</div>
{% endblock downloads %}

{% endblock %}
</body>
</html>
