{% extends 'ict/base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Notice Board</title>
</head>
<body>
{% block content %}


{% block notice %}
<div style="margin-left:400px; margin-top:50px;margin-right: 200px;">
    <h1 style="text-align: center;text-decoration: underline;color: green;"><b>Notice Board</b></h1>
    {% for notice in  notice_list %}
   <p style="border:green solid 2px;font-size: 20px;">{{ notice.id }}. {{ notice.name }} <span style="float: right;">update:{{ notice.date }}</span>  <br>
   {{ notice.description }}</p>  <br>
    {% endfor %}
</div>
{% endblock notice %}

{% endblock %}
</body>
</html>
