{% extends 'ict/base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Achievements</title>
</head>
<body>
{% block content %}


{% block downloads %}
<div style="margin-left:200px; margin-top:50px; margin-right: 200px;">
<div class="main" style="
    margin: 0px auto;
    padding: 4%;
    border: 3px solid #104788;
    font-family: Helvetica Neue;
    background:  #F0F8FF;
    box-shadow: 0 0 10px 0 #000000;
">
<ul>
<li><b>About</b>
<ul>
<li><a href="../about">Welcome to BUP-ICT</a></li>
<li><a href="../about/#history">History of BUP-ICT</a></li>
<li><a href="../about/#whyinbup">Why BUP-ICT?</a></li>
<li><a href="../about/#vishon">Vision of BUP-ICT</a></li>
<li><a href="../getting-around-bup">Getting Around BUP-ICT</a></li>
<li><a href="../achievements">Achievements</a></li>
<li><a href="../resources">Resources</a></li>
</ul>
</li>
<li><b>Academic</b>
<ul>
<li>Programs
<ul style="margin-bottom: 0px !important;">
<li><a href="../undergraduate-program">Undergraduate Program</a></li>
<li><a href="../graduate-program">Graduate Program</a></li>
<li><a href="../mphil-program">MPhil Program</a></li>
<li><a href="../phd-program">PhD Program</a></li>
<li><a href="../other-program">Other Program</a></li>
</ul>
</li>
<li><a href="../admission">Admission</a></li>
<li>Curriculum
<ul>
<li><a href="../curriculum#BSC">Undergraduate Program Curriculum</a></li>
<li><a href="../curriculum#MS">Graduate Program Curriculum</a></li>
<li><a href="../curriculum#MPHIL">MPhil Program Curriculum</a></li>
<li><a href="../curriculum#PHD">PhD Program Curriculum</a></li>
</ul>
</li>
</ul>
</li>
<li><b>People</b>
<ul>
<li>Faculty
<ul style="margin-bottom: 0px !important;">
<li><a href="../faculty-list-summary">At a Glance</a></li>
<li><a href="../faculty/?faculty_status=1">Faculty Members in Service</a></li>
<li><a href="../faculty/?faculty_status=2">Faculty Members on Study Leave</a></li>
<li><a href="../faculty/?faculty_status=3">Faculty Members on Leave</a></li>
<li><a href="../faculty/?faculty_status=10">Faculty Members in C&amp;D Committee</a></li>
<li><a href="../faculty/?faculty_status=4">Former Faculty Members</a></li>
</ul>
</li>
<li><a href="../staff">Staff</a></li>
</ul>
</li>
<li><b>Research</b>
<ul>
<li><a href="../research-groups">Research Groups</a></li>
<li><a href="../publications">Publications</a></li>
<li><a href="../faculty-list-research-interest/">Search | Research Interest</a></li>
</ul>
</li>
<li><b>Announcement</b>
<ul>
<li><a href="../notice-board">Notice Board</a></li>
<li><a href="../news-and-events">News &amp; Events</a></li>
<li><a href="../honor-board">Honor Board</a></li>
</ul>
</li>
<li><b><a href="../alumni">Alumni</a></b></li>
</ul>
<hr>
<ul>
<li><a href="../message-from-the-chairperson">Message from the Chairperson</a></li>
<li><a href="../campus-life">Campus Life</a></li>
<li><a href="../clubs">Clubs</a></li>
<li><a href="../activities">Activities</a></li>
<li><a href="../student-voice">Student Voice</a></li>
<li><a href="../scholarships">Scholarships</a></li>
<li><a href="../contact-us">Contact Us</a></li>
</ul>
</div>
</div>
{% endblock downloads %}

{% endblock %}
</body>
</html>
